---
layout: page
title: 分类与标签
description: "An archive of posts sorted by categories."
---
<div id='tag_cloud' class="tags tags-sup js-tags">
				<a class="tag-button--all" data-encode="" aria-label="Show All">
					Show All
					<sup>{{site.posts.size}}</sup>
				</a>

				{% capture tags %}
				{% for tag in site.tags %}
				<a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
					data-encode="{{ tag[0] | strip | url_encode }}"
					class="tag-button"
					title="{{ tag[0] }}" rel="{{ tag[1].size }}" aria-label="{{ tag[0] }}-{{ tag[1].size }}">
					{{ tag[0] }}
					<sup>{{tag[1].size}}</sup>
				</a>
				{% endfor %}
				{% endcapture %}
				{{ tags | url_encode | split:'</a>' | sort | join:'</a>' | url_decode }}
</div>

{% for category in site.categories %}
<h2>{{ category | first }}</h2>
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}  <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
</ul>
