@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
	
	
 img{
        border: 2px solid #ECF0F1 ;}
        
  img:hover{
      float: left;      
  margin: 0 10px; 

}	
blockquote {
  padding: 0 15px;
  color: grey;
  border-left: 4px solid grey ;

  cite::before {
    content: "-";
    padding: 0 5px;
  }
}

body {
  position: relative; // Required by scrollspy
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: $body-bg-color;
  line-height:1.6;
  font-size:15px;


}

 h2, h3, h4{
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: $font-family-headings;
  color:#2196F3 ;
}

p { margin: 0 0 25px 0;
}

h2, h3, h4, h5, h6 { margin: 20px 0 15px; }

@for $headline from 1 through 6 {
  h#{$headline} {
    font-size: $font-size-headings-base - $font-size-headings-step * $headline;
  }

  @include mobile() {
    h#{$headline} {
      font-size: $font-size-headings-base - $font-size-headings-step * $headline - 4px;
    }
  }
}



/* sidebar*/

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 14%;
	background-color:#FFFFFF;
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 5px;
	text-transform: uppercase;
}
/* blog标题*/
.sidebar-header .title a{
	text-decoration: none;
	color:#FDD835 ;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: blue; }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-weight:bold
	font-size: 15px;
	margin: 0 auto;
	margin-bottom: 10px;
	color:#2196F3;
	
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
 
  
    font-size:15px;
	color:#FDD835;
	text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 80px;
    }
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: capitalize;
	font-size: 14px;
	letter-spacing: 2px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color:#00008B; }
article.home div a:hover, article.home pre a:hover { color:#00008B; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Ubuntu', sans-serif;
	font-size:22px;
	color:#42A5F5          ;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color:#42A5F5          ;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color:#FDD835 ;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
    background-color:white;
    
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.5em;
}

